
*.py
__pycache__/

.ipynb_checkpoints/

desktop.ini

*.pptx
*.pdf

ref_sources/
extra_sources/
fraud-detection-ds/
ref.txt
questions.txt
heart_backup.csv
heart_clean.csv
info.md
presentation.md
struct_report.md
forreport.md
!project_ppt_ds.pdf
!project_report_ds.pdf